# Base de données
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=wefund_db

# JWT
JWT_SECRET=changeme

# Stripe (clés sandbox)
STRIPE_SECRET_KEY=sk_test_51TEPrMJ62UGkeUfWCf3qzDqsYq6jCHCduzelkFfjn5bV8H02yhioRxKuSWMJFGehL6RXshbyoLZxIzC9suxMCG4N00p9YuP6gp
STRIPE_WEBHOOK_SECRET=whsec_2e5e4909c9cb35b079b3c72d41e8f4ea1f2c351654079a0b3d5319af7a56d43f
